html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"DM Sans", sans-serif ;
}
body{
    background-color: #0c0c1d;
    color: lightgray;
}
a{
    text-decoration: none;
    color:inherit;

}
section{
    height: 100vh;
    scroll-snap-align: center;
}

.course{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .box{
        width: 200px;
        height: 200px;
        background-color: white;
        
    }
}
@mixin desktop{
    @media (width > 1024px) and (width <= 1366px) {
        @content;
    }
}
@mixin tablet{
    @media(width > 1000px) and (width <= 1024px) {
        @content;
    }
}
@mixin mobile_large{
    @media (width > 767px) and (width <=1000px)  {
        @content;
    }
}

@mixin mobile{
    @media (width <= 767px) {
        @content;
    }
}

@mixin laptop_height{
    @media (height <= 738px) {
        @content;
    }
}


